@font-face {
  font-family: Inter-Var;
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
} 
@font-face {
  font-family: Inter-Reg;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-SemiB;
  src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
* {
  box-sizing: border-box;
  
}
.attribution { 
  font-size: 11px; text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;  
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
body {
  font-family: Inter-Reg;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
}
#main-div {
  background-color: hsl(0, 0%, 12%);
  width: 340px;
  height: fit-content;
  align-items: center;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin: 5% auto;
  
  
}
.whiteFont {
color: hsl(0, 0%, 100%);
}
.yellowFont {
  color: hsl(75, 94%, 57%);
}
.greyFont {
  color: hsl(0, 0%, 64%);
}
.button {
  font-family: Inter-SemiB;
  background-color: hsl(0, 0%, 20%);
  height: 45px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 1.1rem;
  font-family: Inter-Var;
  font-weight: 500;
}
.image {
  border-radius: 50%;
  height: 120px;
}
.button:hover {
  background-color:hsl(75, 94%, 57%);
  color:hsl(0, 0%, 20%);
}
a {
  text-decoration: none;
}
@media (orientation: portrait) {
  body {
    height: 100vh;
    
  }
  #main-div {
    

  }
  
